*{
    margin: 0px;
    padding: 0px;
}
#main{
    width: 100%;
    background-color: #202124;

}

#sliderImg img{
    width: 100%;
    
}
#sliderImgText{
    padding: 0px 15%;
    line-height: 20px;
}
#sliderImgText p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    color: #E0DFDE;
    text-align: justify;

}
#foodSection{
    display: flex;
    flex-direction: column;
    padding: 40px 15%;
    background-color: #E0DFDE;
}
#foodSectionHeader{
    display: flex;
    justify-content: space-between;
}