*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#slider{
    /* width: 100vw; */
    background-color: black;    
    /* position:relative; */
    /* color: white; */
}
#slider img{
    width: 100%;
    height: 50vh;
    object-fit: cover;    
    opacity: 0.4;
}
#sliderText{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-150%);
    /* font-size: 1.6rem; */
    /* border: 1px solid red; */
}
#sliderText h1{
    font-family: "Arial black", Helvetica, sans-serif;
    font-size: 3.2em;
    color: white;
}
#sliderText p{

    font-size: 14px;
}
#exploreKfc{
    background-color: rgb(38, 37, 37);
    padding: 20px 0px;
    color: white;
}
#menuExploreKfc{
    display: flex;
    justify-content: space-evenly;
}
#menuExploreKfc a{    
    text-decoration: none;
    color: white;
    padding-right: 10px;
    font-size: 14px;
}
#job{
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
    gap: 20px;

}
#membersJob{
    display: flex;
    justify-content: space-evenly;
}
.memberCard{display: flex;
    flex-direction: column;
    align-items: center;
}
.memberCard img{
    width: 80%;
    
}
#jobProcess{
    /* border: 1px solid red; */
    padding: 40px 11%;
}
#jobProcess p{
    /* border: 1px solid red; */
    /* color: black; */
    width: 100%;
    font-size: 14px;

}
#processBrief{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#processBrief p{
    color: gray;
    width: 55%;
    /* text-align: justify; */
    line-height: 25px;
    font-size: 16px
}
#processStep{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0px;
}
.cardProcessStep{
    padding: 20px 0px 5px;
    line-height: 40px;    
    border-top: 1px solid rgb(222, 220, 220);
    /* border-bottom: 1px solid gray; */
}
.cardProcessStep h3, .cardProcessStep p{
    color: gray;
}
#meetStaff{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 10%;
    gap: 20px;
}
.cardStaff{
    /* width: 100%; */
    display: flex;
    gap: 20px;
    padding: 60px 0px;
    align-items: center;
}
.cardStaff img{
    width: 500px;
    height: 550px;
}
.cardStaff div{
    width: 40%;
}
.cardStaff div h1{
    font-size: 2.6rem;
}
.cardStaff p{
    width: 80%;
    font-size: 14px;
    color: rgb(52, 51, 51);
    line-height: 25px;
    /* border: 1px solid red; */
}
#staffImage{
    width: 100%;
}
#staffImage img{
    object-fit: contain;
    width: 100%;
}
#careerConclude p{
    color: #2b2b2b;
    padding: 10% 20% 10% 10%;
    font-size: 18px;
    line-height: 30px;
}
#carrerPath{
    display: flex;
    flex-direction: column;
    padding: 10%;
    background-color: rgb(244, 245, 247);
}
#careerPathWrapper{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* padding: 40px 10%; */
    
}
.cardCareerPath{
    display: flex;
    flex-direction: column;    
    background-color: black;     
    position: relative;
    
}
.cardCareerPath img{   
    opacity: 0.4;
}
.cardCareerPath h3{       
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin-left: -10px; */
}








/* Media Query Start */

@media screen and (min-width: 720px) {
    #sliderText{
        transform: translate(-50%,-50%);
    }
    #sliderText h1{
        font-size: 3em;
    }
}