*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#slider{
    /* width: 100vw; */
    background-color: black;    
    /* position:relative; */
    color: white;
}
#slider img{
    width: 100vw;
    height: 50vh;
    object-fit: cover;    
    opacity: 0.4;
}
#sliderText{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-150%);
    /* font-size: 1.6rem; */
    /* border: 1px solid red; */
}
#sliderText h1{
    font-family: "Arial black", Helvetica, sans-serif;
    font-size: 3.2em;
}
#sliderText p{

    font-size: 14px;
}