*{
    margin: 0px;
    padding: 0px;
}
#mainHeader{
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10%;
    height: 80px;
}
#svgHeaderLogo{ 
    width: 40px;
    height: 80px;
    position: absolute;    
    left: 260px;
    /* background-color: blue; */
}
#logo{
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    word-spacing: -3px;
    color: black;    
    position: relative;
    margin-left: -20px;
    
}
#leftHeader{
    display: flex;
    gap: 40px;
}
#leftHeader>a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}
#rightHeader{
    display: flex;
    align-items: center;
    gap: 40px;
}
#startOrder{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: black;
    color: white;
    padding: 20px;
}
#btnStartOrder{
    /* width: 150px;
    height: 40px; */
    font-size: 16px;
    padding: 15px 50px;
    border: none ;
    border-radius: 25px;
    background-color: rgb(224, 3, 3);
    color: white;
    font-weight: bolder;


}